@import "../../index.scss";

.Card {
  max-width: 500px;
  width: 100%;
  padding: 80px;
  background: $text-color;
  border-radius: 5px;
  box-shadow: 15px 15px 0px 0px rgba(0, 0, 0, 0.4);
  transition: opacity 0.4s ease;
}

.fade-out {
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  transform: scale(110%);
  pointer-events: none;
}

h1 {
  font-size: 25px;
  color: var(--primary-color);
  text-align: center;
  transition: 0.4s ease;
}

h4 {
  color: var(--primary-color);
  text-align: right;
  transition: 0.4s ease;
}

.buttons-grid {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 15px;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  color: $text-color;
  transition: 0.4s ease;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 100;
}

.new-quote {
  justify-self: end;
}
