@import "../../index.scss";

.Card {
  max-width: 700px;
  width: 100%;
  padding: 80px;
  background: var(--alt-color);
  border-radius: 5px;
  box-shadow: 0px 0px 30px -3px rgba(0, 0, 0, 0.3);
  transition: opacity var(--transition-time) ease;
  will-change: transition, transform, opacity;
}

.fade-out {
  transition: opacity var(--transition-time) ease,
    transform var(--transition-time) ease,
    box-shadow var(--transition-time) ease;
  opacity: 0;
  transform: scale(105%);
  pointer-events: none;
}

.hidden {
  opacity: 0;
}

h1 {
  font-size: 27px;
  color: var(--primary-color);
  text-align: center;
  transition: var(--transition-time) ease;
  will-change: transition;
}

h4 {
  color: var(--primary-color);
  text-align: right;
  transition: var(--transition-time) ease;
  will-change: transition;
}

.buttons-grid {
  margin-top: 50px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--alt-color);
  transition: var(--transition-time) ease;
  will-change: transition;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
}

.new-quote {
  justify-self: end;
}

.play-pause {
  justify-self: start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.icon {
  width: 15px;
  opacity: 0.8;
}
